<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%-include('./partials/nav.ejs')%>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae veniam dignissimos deserunt voluptatibus fuga quidem. Nulla reprehenderit, quaerat quos, sunt quibusdam voluptatibus laborum accusantium reiciendis rerum deserunt excepturi modi veritatis!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae veniam dignissimos deserunt voluptatibus fuga quidem. Nulla reprehenderit, quaerat quos, sunt quibusdam voluptatibus laborum accusantium reiciendis rerum deserunt excepturi modi veritatis!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae veniam dignissimos deserunt voluptatibus fuga quidem. Nulla reprehenderit, quaerat quos, sunt quibusdam voluptatibus laborum accusantium reiciendis rerum deserunt excepturi modi veritatis!</p>
    </div>
</body>
<%- include('./partials/footer.ejs') %>
</html>